<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FizzBuzz_with_TDD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91B1A6991F3C7DF5001D836C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91B1A6AD1F3C7DF5001D836C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91B1A6B81F3C7DF5001D836C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
